
            {% extends "authenticated_master.html" %}
{% block title %}Home{% endblock %}
{% block body %}

            <div class="container ">
               {% if  graphs.count == [] %}
         <div class="ui warning message">
    <div class="header">No Events</div>
    <p>Looks like You haven't Posted any event yet , To get started Click <a href="{{ url_for("create_event") }}">Here.</a></p>
  </div>
    {% else  %}
                <h5 class="centered">My Events Report </h5>

                <canvas id="eventsChart"></canvas>
            </div>

    {% include "graphs.html" %}
    {% endif %}
{% endblock %}


